{
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "plugins": ["import", "react-hooks", "prettier", "airbnb"],
  "rules": {
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": 0
  }
}
